* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.875rem;
  max-width: 1360px;
  position: relative;
  min-height: calc(100vh - 200px);
}

a {
  text-decoration: none;
  color: #333;
}

h1 {
  height: 100px;
}

dt {
  font-weight: normal;
}

footer .footer-wrap {
  bottom: 20px;
  position: absolute;
  width: 95%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
footer .footer-wrap ul {
  display: flex;
}
footer .footer-wrap ul li {
  list-style: none;
  padding-right: 40px;
}

body {
  padding-left: 40px;
  padding-right: 40px;
}
body header {
  width: 100%;
  height: 150px;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
}
body header .header-wrap {
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  top: 30%;
  display: flex;
  justify-content: space-between;
}
body header .header-wrap .toggle-button {
  width: 30px;
  height: 30px;
  border: none;
  position: relative;
}
body header .header-wrap .toggle-button span {
  width: 30px;
  height: 2px;
  position: absolute;
  background-color: #333;
  transition: all 2s;
}
body header .header-wrap .toggle-button span:nth-child(1) {
  top: 10px;
}
body header .header-wrap .toggle-button span:nth-child(2) {
  bottom: 10px;
}
body header .header-wrap .toggle-button.show-menu {
  border: none;
}
body header .header-wrap .toggle-button.show-menu span {
  background-color: #fff;
}
body header .header-wrap .toggle-button.show-menu span:nth-child(1) {
  top: 14px;
  transform: rotate(-45deg);
}
body header .header-wrap .toggle-button.show-menu span:nth-child(2) {
  bottom: 10px;
  transform: rotate(45deg);
}
body .toggle-menu {
  display: none;
}
body .toggle-menu.show-menu {
  z-index: -5;
  height: 100vh;
  width: 100%;
  top: 0;
  position: absolute;
  background-color: rgba(45, 45, 45, 0.7);
  display: block;
}
body .toggle-menu.show-menu ul {
  padding-left: 40px;
  padding-top: 50px;
}
body .toggle-menu.show-menu ul li {
  height: 2.5rem;
  padding-top: 5px;
}
body .toggle-menu.show-menu ul li a {
  color: #fff;
}
body main {
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
}
body main .product {
  width: 100%;
  max-width: 1150px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 250px);
  gap: 50px;
  margin-right: auto;
  margin-left: auto;
}
body main .product .product-item a .product-img {
  height: 250px;
  width: 250px;
}
body main .product .product-item a dt, body main .product .product-item a dd {
  text-align: left;
}
body main .product-more {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

main .company-wrap .company {
  max-width: 600px;
}
main .company-wrap .company-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
main .company-wrap .company-info dt, main .company-wrap .company-info dd {
  height: 100px;
  padding-top: 40px;
  border-bottom: dotted 1px #333;
}
main .company-wrap .company-info dt:last-of-type, main .company-wrap .company-info dd:last-of-type {
  border-bottom: none;
}
main .company-wrap .company-info dt {
  width: 30%;
}
main .company-wrap .company-info dd {
  width: 70%;
}
main .company-wrap .company-info dd:last-child {
  padding-top: 20px;
}
main .company-wrap .map {
  margin-top: 100px;
  position: relative;
}
main .company-wrap .map iframe {
  filter: grayscale(100%);
  position: absolute;
  z-index: -1;
}

main {
  margin-top: 200px;
}
main .all-product {
  width: 100%;
  max-width: 1150px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(4, 250px);
  gap: 50px;
  margin-right: auto;
  margin-left: auto;
}
main .all-product .product-item .product-img {
  height: 250px;
  width: 250px;
}
main .all-product .product-item dt, main .all-product .product-item dd {
  text-align: left;
}

main {
  width: 1360px;
  padding: 40px;
}
main .item-wrap .item {
  display: flex;
  margin-bottom: 50px;
}
main .item-wrap .item-img img {
  width: 300px;
}
main .item-wrap .item-info {
  width: 35%;
  margin-left: 50px;
}
main .item-wrap .item-info p {
  margin-bottom: 20px;
}
main .item-wrap .item-info dl {
  display: flex;
  flex-wrap: wrap;
}
main .item-wrap .item-info dl dt, main .item-wrap .item-info dl dd {
  height: 30px;
}
main .item-wrap .item-info dl dt {
  width: 30%;
}
main .item-wrap .item-info dl dd {
  width: 60%;
}
main a {
  display: block;
  text-align: center;
  margin: 50px;
}

.about {
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  margin: 50px;
}/*# sourceMappingURL=style.css.map */