@charset "UTF-8";
$text_color : #333;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 0.875rem;
    max-width: 1360px;
    position: relative;
    min-height: calc(100vh - 200px);
}

a {
    text-decoration: none;
    color: $text_color;
}

h1 {
    height: 10%;
}

dt {
    font-weight: normal;
}

footer {
    width: 100%;
    height: 10%;//footerが真ん中に持って来れない

    .footer-wrap {
        bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        width: 85%;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;

            li {
                list-style: none;
                padding-right: 40px;
            }
        }

        //ul
    }

    //footer-wrap
}

//footer

// index.html-----------------------------
body.index-body {
    padding-left: 40px;
    padding-right: 40px;
}

body {
    header {
        width: 100%;
        height: 150px;
        position: fixed;
        background-color: #fff;
        top: 0;
        left: 0;

        .header-wrap {
            padding-top: 30px;
            padding-left: 40px;
            padding-right: 40px;
            top: 30%;
            display: flex;
            justify-content: space-between;

            .toggle-button {
                width: 30px;
                height: 30px;
                border: none;
                position: relative;

                span {
                    width: 30px;
                    height: 2px;
                    position: absolute;
                    background-color: #333;
                    transition: all 02s;
                }

                span:nth-child(1) {
                    top: 10px;
                }

                span:nth-child(2) {
                    bottom: 10px;
                }
            }

            .toggle-button.show-menu {
                border: none;

                span {
                    background-color: #fff;
                }

                span:nth-child(1) {
                    top: 14px;
                    transform: rotate(-45deg);
                }

                span:nth-child(2) {
                    bottom: 10px;
                    transform: rotate(45deg);
                }
            }

        }

        //header-wrap
    }

    .toggle-menu {
        display: none;
    }

    .toggle-menu.show-menu {
        z-index: -5;
        height: 100vh;
        width: 100%;
        top: 0;
        position: absolute;
        background-color: rgba(45, 45, 45, 0.7);
        display: block;

        ul {
            padding-left: 40px;
            padding-top: 50px;

            li {
                height: 2.5rem;
                padding-top: 5px;

                a {
                    color: #fff;
                }
            }

            //li

        }

        //ul
    }

    //header


    .index-main {
        margin-top: 200px;
        margin-right: auto;
        margin-left: auto;

        .index-product {
            width: 100%;
            max-width: 1150px;
            display: grid;
            place-items: center;
            grid-template-columns: repeat(4, 250px);
            grid-template-rows: repeat(2, 250px);
            gap: 50px;
            margin-right: auto;
            margin-left: auto;

            // flex-direction: row;出力が８→１と逆向き
            .index-item {
                a {
                    .product-img {
                        height: 250px;
                        width: 250px;
                    }

                    dt,
                    dd {
                        text-align: left;
                    }
                }

                //product-img
            }

            //product-img
        }

        //product
        .index-more {
            text-align: center;
            margin-top: 100px;
            margin-bottom: 100px;
        }

        //product-more
    }

    //main

}



// company.html-----------------------------

main {
    .company-wrap {
        margin-right: 50px;
        margin-left: 50px;
        padding-bottom: 160px;
        // footerとの間に余白追加
        padding-bottom: 160px;

        .company {
            max-width: 600px;

            &-info {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: auto;

                dt,
                dd {
                    height: 100px;
                    padding-top: 50px;
                    border-bottom: dotted 1px #333;

                    &:last-of-type {
                        border-bottom: none;
                    }
                }

                dt {
                    width: 30%;
                }

                dd {
                    width: 70%;

                    &:last-child {
                        padding-top: 20px;
                    }
                }
            }
        }

        //company
        .map {
            margin-top: 20px;

            // position: relative;
            iframe {
                filter: grayscale(100%);
                // position: absolute;
                // z-index: -1;
            }
        }
    }

    //company-wrap
}

// product.html-----------------------------
main {
    margin-top: 200px;

    .all-product {
        width: 100%;
        max-width: 1150px;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: repeat(4, 250px);
        gap: 50px;
        margin-right: auto;
        margin-left: auto;
        flex-direction: row-reverse;
        flex-direction: column-reverse;

        .product-item {
            .product-img {
                height: 250px;
                width: 250px;
            }

            //product-img
            dt,
            dd {
                text-align: left;
            }
        }

        //product-item
    }

    //all-product
}

// item.html-----------------------------

main {

    // レイアウトに絶対値を指定するとレスポンシブが崩れる可能性が高くなります。

    // width: 1360px;
    padding: 0;

    .item-wrap {
        .item {
            display: flex;
            margin-bottom: 50px;

            &-img {
                img {
                    width: 300px;
                }
            }

            //item-img
            &-info {
                width: 35%;
                margin-left: 50px;

                p {
                    margin-bottom: 20px;
                }

                dl {
                    display: flex;
                    flex-wrap: wrap;

                    dt,
                    dd {
                        height: 30px;
                    }

                    dt {
                        width: 30%;
                    }

                    dd {
                        width: 60%;
                    }
                }
            }
        }

        //item
    }

    //item-wrap
    a {
        display: block;
        text-align: center;
        margin: 50px;
    }
}

// about.html-----------------------------
.content-wrap {
    margin-left: 10%;
    margin-right: 10%;
    .about {
        display: grid;
        grid-template-columns: 600px;
        grid-template-rows: 1fr 1fr;
        gap: 50px;
        margin: 35px;
    }

}


@media(max-width:900px) {
    .header-wrap{
        padding-top: 0;
        padding-right: 5%;
        padding-left: 5%;
        .logo {
            a {
                img {
                    width: 60%;
                    vertical-align: middle;
                }
            }
        }
    }
    body {
        width: 100%;

        // margin-right: 0;
        // margin-left: 0;
        header {
            .toggle-menu.show-menu {
                ul {
                    height: 100vw;
                    display: block;

                    li {
                        height: 50px;
                        padding-top: 10px;
                        font-size: 20px;
                    }
                }
            }
        }

        //index.html-------------------
        .index-main {
            width: 90%;
            margin-left: 0;
            margin-right: 0;
            padding: 0;
            margin-top: 200px;
            margin-bottom: 200px;

            .index-product {
                width: 100%;
                margin: 0;
                grid-template-columns: repeat(2, 250px);
                grid-template-rows: repeat(4, 250px);
            }

            .index-more {
                max-width: 900px;
                display: block;
            }
        }

        //product.html-----------------
        .product-main {
            max-width: 900px;
            width: 100%;
            // margin-left: 0;
            // margin-right: 0;
            padding: 0;
            margin-top: 200px;
            margin-bottom: 200px;
            margin-left: auto;
            margin-right: auto;

            .all-product {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                display: grid;
                row-gap: 50px;
                column-gap: 10px;
                grid-template-columns: repeat(2, 2fr);
                grid-template-rows: repeat(8, 8fr);

                .product-item {
                    a {
                        margin: 0;

                        .product-img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

        }

        //item.html-----------------
        .item-main {
            width: 100%;

            .item-wrap {
                .item {
                    justify-content: space-between;
                    flex-direction: column;

                    &-img {
                        display: inline;
                    }

                    &-info {
                        width: 90%;
                        margin-left: 0;
                        margin-top: 30px;

                        dl {
                            flex-direction: column;
                        }

                        //dl
                    }

                    //item-info
                }

                //item
            }

            //item-wrap
            a.item-back {
                display: inline-block;
                margin: 0;
            }
        }

        //item-main
        footer {
            height: 100px;
            bottom: 20px;
            left: 0;
            right: 0;
            // position: absolute;
            width: 100%;

            .footer-wrap {
                flex-direction: column;
            }
        }

        //footer

        .product {
            max-width: 900px;
        }

        //product

        //about.html-------------------

        .about-main {
            max-width: 100%;

            .content-wrap {
                .about {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 2fr;
                    gap: 10%;
                    
                    p {
                        margin: 0;
                    }

                    //p
                }

                //about
            }

            //content-wrap
        }

        //main
    }

    //body

    //company.html-------------------
    .company-wrap {
        margin-left: 10%;
        margin-right: 10%;
        max-width: 900px;
        .company {
            width: 100%;
            .company-info {
                flex-direction: column;
                dt,dd {
                    height: 30%;
                    width: 100%;
                    padding: 20px 10px;
                }
                dt {
                    border-bottom: none;
                }
            }
        }//company
        .map {
            display: inline;
            iframe {
                width: 300px;
                height: 300px;
            }
        }//map
}//company-wrap
footer {
    display: flex;
    justify-content: center;        
    .footer-wrap {
        ul {
            margin-right: auto;
            margin-left: auto;
            li {
                margin-right: 3%;
            }
        }
        div {
            margin-top: 5%;
        }
    }
}

}
//@media(max-width:900)
